name: Create and publish inteli-api image

on:
  pull_request:
    type: [closed]
    branches: ['vitalam-dev']

env:
  REGISTRY: ghcr.io
  REPO_NAME: ${{ github.repository }}
  GIT_SHA: ${{ github.sha }}

jobs:
  build-and-push-image:
    if: github.event.pull_request.merged == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      
      - name: Check outputs
        run: echo ${{ steps.vars.outputs.sha_short }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_NAME }}:v1.0.${{ steps.vars.outputs.sha_short }}